.brown{
    color: #1f1f1f;
    background-color: #1f1f1f ;
}
.brownClaro{
    color: #90694a;
    background-color: #90694a ;
}
.tan{
    color: #E0C391;
    background-color: #d2b895 ;
}
.claro{
    color: #e1d9ce;
    background-color: #e1d9ce ;
}

.lightGreen{
    color: #abc2ba;
    background-color: #abc2ba ;
}
.cafeoscuro{
    color: #292021;
    background-color: #292021 ;
}
.blanco{
    color: #ffffff;
    background-color: #ffffff ;
}